<!DOCTYPE html>
<html lang="" data-ng-app="GoogleDirection">
<head>
    <meta t="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWhSE1HAi753_M8rcFTfcbBXUQInf8y6c&v=3.exp&sensor=true&libraries=places"></script>
    <script src="autocomplete.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link href="css/grayscale.css" rel="stylesheet">
    <link href="css/maps.css" rel="stylesheet">
    <style>
        #map-canvas {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body class="map-body full-dimensions">
<div ng-controller="googlemapoutput" align="center" class="full-dimensions">
    <div class="input-container">
        <input type="text" class="card pac-container start-input" />
        <input type="text"  class ="pac-container start-input" ng-model="startlocation" id="startlocation" g-places-autocomplete ng-model="place"/>
        <input type="text" class = "pac-container end-input" ng-model="endlocation" id="endlocation" g-places-autocomplete ng-model="place"/>
        <div class="card card-1"></div>
        <button id="btn" class="get-direction-btn get-directions-btn" ng-click="calcRoute()">
            <span>Get Directions</span>
        </button>
        <!--<button  class="get-direction-btn get-directions-btn" ng-click="findWeather()">-->
        <!--<span>Get Weather</span>-->
        <!--</button>-->
    </div>
    <div id="map-canvas"></div>
    <!--<div class="card input-container"></div>-->
</div>
</body>
</html>


<script>
    var app=angular.module('GoogleDirection', ['google.places']);
    angular.module('GoogleDirection', ['google.places'])
        .controller('googlemapoutput', function ($scope) {

            var map;
            var mapOptions;
            var directionsDisplay = new google.maps.DirectionsRenderer({
                draggable: true
            });
            var directionsService = new google.maps.DirectionsService();

            $scope.place = null;
            $scope.initialize = function () {
                var pos = new google.maps.LatLng(0, 0);
                var mapOptions = {
                    zoom: 3,
                    center: pos
                };

                map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);
            };
            $scope.calcRoute = function () {
                var end = document.getElementById('endlocation').value;
                var start = document.getElementById('startlocation').value;

                var request = {
                    origin: start,
                    destination: end,
                    travelMode: google.maps.TravelMode.DRIVING
                };

                directionsService.route(request, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setMap(map);
                        directionsDisplay.setDirections(response);
                        console.log(status);
                    }

                });
            };

            google.maps.event.addDomListener(window, 'load', $scope.initialize);

        });

    app.factory('weatherService', ['$http', '$q', function ($http, $q){
        function getWeather (zip) {
            var deferred = $q.defer();
            $http.get('https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%22'+ zip +'%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys')
                .success(function(data){
                    deferred.resolve(data.query.results.channel);
                })
                .error(function(err){
                    console.log('Error retrieving markets');
                    deferred.reject(err);
                });
            return deferred.promise;
        }
        return {
            getWeather: getWeather
        };
    }]);

    app.controller('weatherCtrl', ['$scope', 'weatherService', function($scope, weatherService) {
        function fetchWeather(zip) {
            weatherService.getWeather(zip).then(function(data){
                $scope.place = data;
            });
        }
        fetchWeather('kansascity');
        $scope.findWeather = function(zip) {
            $scope.place = '';
            loc=document.getElementById('startlocation').value;
            fetchWeather(loc);
        };
    }]);
    app.controller('weatherCtrl1', ['$scope', 'weatherService', function($scope, weatherService) {
        function fetchWeather(zip) {
            weatherService.getWeather(zip).then(function(data){
                $scope.place = data;
            });
        }
        fetchWeather('kansascity');
        $scope.findWeather = function(zip) {
            $scope.place = '';
            loc=document.getElementById('endlocation').value;
            fetchWeather(loc);
        };
    }]);


</script>
