<ion-view title="Home page" id="page1" style="background-color:#894485;">
    <ion-content padding="true" class="has-header">


      <button class="button button-balanced" style="align-content: center" ng-click="openDirections()" >
        Get Direction
      </button>
      <div class="spacer" style="width: 300px; height: 200px;"></div>
      <div style="margin-right:-20px;">
        <a ui-sref="login" id="login-button2" style="left:-10px;" class="button button-positive  button-full">Sign Out</a></div>
    </ion-content>


</ion-view>
